{% block content %}
<main>
  <section class="container my-5">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8 my-5">
        <form method="POST" novalidate>
          {{ form.csrf_token }}
          {{ form.original(class="form-control form-control-lg py-2 mb-3", placeholder=form.original.label.text) }}
          {% if form.original.errors %}
            <p class="text-danger">
              {% for error in form.original.errors %}
                {{ error }}
              {% endfor %}
            </p>
          {% endif %}
          {{ form.short(class="form-control form-control-lg py-2 mb-3", placeholder=form.short.label.text, style="height: calc(2 * 1em + 2 * .75rem + 2px);") }}
          {% if form.short.errors %}
            <p class="text-danger">
              {% for error in form.short.errors %}
                {{ error }}
              {% endfor %}
            </p>
          {% endif %}
          {{ form.submit(class="btn btn-primary px-5 py-3") }}

        </form>
        <p class="py-3 mb-3">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-warning">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
        </p>
        {% if generated_short_url %}
        <p>Ваша новая ссылка готова: <a href="{{ url_for('redirect_to_original', short_id=generated_short_url, _external=True) }}">{{ url_for('redirect_to_original', short_id=generated_short_url, _external=True) }}</a></p>
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
